<mtapp:setting
    id="api_key"
    label="API Key"
    hint="<a href='http://www.flickr.com/services/api/' target='_blank'>Get an API key</a>"
    show_hint="1"
	>
    <input type="text" name="api_key" id="api_key" value="<mt:var name="api_key" escape="html">" size="50" />
</mtapp:setting>

<mtapp:setting
    id="api_secret"
    label="API Secret"
    hint=""
    show_hint="1"
	>
    <input type="text" name="api_secret" id="api_secret" value="<mt:var name="api_secret" escape="html">" size="50" />
</mtapp:setting>
